<div class="container">
  <form [formGroup]="loginForm" [hidden]="success" (ngSubmit)="loginUser()">
      <p class="h4 mb-4">Welcome back!</p>
    <div class="row">
      <div class="col">
          <div class="md-form">
              <input mdbInput type="email" class="form-control" formControlName="email">
              <label for="form1" class="">E-mail</label>
          </div>
      </div>
      <div class="col">
          <div class="md-form">
              <input mdbInput type="password" class="form-control" formControlName="password">
              <label for="form1" class="">Password</label>
              
          </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Login</button>
    <p>New user?
        <a class="indigo-text" (click)="toRegister()">Register</a>
      </p>
  </form>
</div>