<div class="container">
  <form [formGroup]="notesForm" (ngSubmit)="createNote()">
    <p class="h4 mb-4">New Note</p>
    <div *ngIf="submitted" class="alert alert-success" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      Note created successfully!
    </div>
    <div class="md-form form-group mt-5">
      <input mdbInput type="text" class="form-control" formControlName="title">
      <label for="formGroupExampleInputMD">Title</label>
      <mdb-error *ngIf="this.f.title.hasError('required')">Title is <strong>required</strong></mdb-error>
    </div>
    <div class="md-form form-group mt-5">
        <textarea type="text" class="md-textarea form-control" mdbInput formControlName="content"></textarea>
        <label for="form7">Content</label>
        <mdb-error *ngIf="this.f.content.hasError('required')">Content is <strong>required</strong></mdb-error>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="notesForm.invalid">Save</button>
    <p>Changed your mind?
        <a class="indigo-text" (click)="toNotes()">Back to notes</a>
      </p>
  </form>
  <div *ngIf="loading" class="spinner-border text-info text-center" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>