<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="assets/graphing-paper-hand-pencil-1367233.jpg" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">CREATE</h3>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="assets/art-close-up-composition-2089374.jpg" alt="Second slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">EDIT AND ...</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="assets/blur-close-up-crumpled-963048.jpg" alt="Third slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">DELETE NOTES!</h3>
      </div>
    </mdb-carousel-item>
</mdb-carousel>