<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Note Application</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus volutpat ipsum, id aliquam orci. 
      Phasellus aliquam neque accumsan leo lobortis aliquam.
    </p>
  </div>
</div>
<section class="features-icons text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <mdb-icon fas icon="pen" size="3x" class="green-text pr-3" aria-hidden="true"></mdb-icon>
            </div>
            <h3>CREATE</h3>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <mdb-icon fas icon="edit" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon>
            </div>
            <h3>EDIT</h3>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <mdb-icon fas icon="trash-alt" size="3x" class="red-text pr-3" aria-hidden="true"></mdb-icon>
            </div>
            <h3>DESTROY</h3>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>