<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <p class="h4 mb-4">Welcome!</p>
      <div class="row">
        <div class="col">
            <div class="md-form">
                <input mdbInput type="text" class="form-control" formControlName="name">
                <label for="form1" class="">Name</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input mdbInput type="email" class="form-control" formControlName="email">
                <label for="form1" class="">E-mail</label>
            </div>
        </div>
  
      </div>
      <div class="row">
          <div class="col">
              <div class="md-form">
                  <input mdbInput type="password" class="form-control" formControlName="password">
                  <label for="form1" class="">Password</label>
              </div>
          </div>
          <div class="col">
              <div class="md-form">
                  <input mdbInput type="password" class="form-control" formControlName="password_confirmation">
                  <label for="form1" class="">Confirm Password</label>
              </div>
          </div>
    
        </div>
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="registerForm.invalid">Register</button>
      <p>Already have profile?
          <a class="indigo-text" (click)="toLogin()">Login</a>
        </p>
    </form>
</div>